<div class="jumbotron">
  <h1>What Happens Next...</h1>
  <h3>A collaboration tool for creative writers.</h3>
  <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-lg btn-primary' %>  
  <%= link_to 'Log In', new_user_session_path, class: 'btn btn-lg btn-success' %>
</div>